name: Publish

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Publish to Eik
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Install Dependencies
        run: |
          npm install
      - name: Run Copy
        run: |
         npm run copy
      - name: Run Build
        run: |
          npm run build
      - name: Run Publish
        run: |
          npm run publish
        env:
          EIK_TOKEN: ${{ secrets.EIK_TOKEN }}