name: Publish

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Publish to Eik
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Install Dependencies
        run: |
          npm install
      - name: Run Copy
        run: |
         npm run copy
      - name: Run Build
        run: |
          npm run build
      - name: Run Publish
        run: |
          npm run publish
        env:
          EIK_TOKEN: ${{ secrets.EIK_TOKEN }}